@media screen and (max-width: 992px) {
  body {
    .featuredProducts {
      .product-card {
        display: none;
      }
    }
    main {
      .newArrivals {
        i {
          display: none;
          visibility: hidden;
        }
      }
    }
    .imageGallery {
      a {
        width: 100%;
        height: 100%;
        .icon-zoom {
          display: none;
        }
      }
    }
  }
  .menu {
    display: none;
  }
  .navBar {
    &::before {
      content: url(../icons/shopping-bag-solid.svg);
      position: absolute;
      width: 20px;
      height: 25px;
      right: 3%;
      top: 35%;
    }
    &::after {
      content: url(../icons/user-regular.svg);
      position: absolute;
      width: 30px;
      height: 25px;
      top: 35%;
      right: 6%;
      padding-right: 10px;
    }
    .menuRight {
      display: none !important;
    }
  }
  .header {
    padding-left: 37%;
  }
  .hamburgerMenu {
    display: block !important;
    position: absolute;
    top: 35%;
    left: 5%;
    .fa-search {
      margin-left: 10px;
    }
  }
}

@media screen and(max-width:920px) {
}
